<div id="acss-actors-settings" class="page-layout simple fullwidth">

  <!-- CONTENT -->
  <div class="content p-24 w-100-p">

    <!-- WIDGET GROUP -->
    <div [formGroup]="settingsForm" class="widget-group" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start start"
      *fuseIfOnDom [@animateStagger]="{value:'50'}">

      <span fxFlex="100" style="font-size: 24px; text-align: center" fxLayoutAlign="center center">{{'SETTINGS.TITLE' | translate }}</span>

      <!-- <mat-accordion fxFlex="100"> -->
        <!-- CONFIGURATION FOR SALES MADE WITH MAIN POCKET -->
        <mat-expansion-panel fxFlex="100" [expanded]="true"  >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'SALES_WITH_MAIN' | translate }}
            </mat-panel-title>
            <!-- <mat-panel-description>
              Type your name and age
            </mat-panel-description> -->
          </mat-expansion-panel-header>

          <div *ngIf="formInitialized" class="widget-group" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start start">

            <!-- BONUSCOLLECTOR -->
              <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                <span fxLayoutAlign="center center"> {{'SETTINGS.FARE_COLLECTOR_TITTLE' | translate}} </span>
                <button mat-icon-button (click)="viewDefinition('FARECOLLECTORS')">
                  <mat-icon>info</mat-icon>
                </button>
              </div>



              <div fxFlex="100">
                <div class="border" [formGroup]="settingsForm.get('salesWithMainPocket')['controls']['bonusCollector']"
                  fxFlex="100" fxLayout="row wrap">

                  <!-- business pays the money -->
                  <!-- <mat-form-field class="center-text pr-12 pl-12" fxFlex="40" fxFlex.xs="100">
                    <input matInput [readonly]="!currentVersion" formControlName="businessUnitFrom" placeholder="{{'FORM.BU_FROM' | translate}}">
                  </mat-form-field> -->

                      <business-autocomplete class="center-text pr-12 pl-12" fxFlex="40" fxFlex.xs="100"
                        [formGroup]="settingsForm.get('salesWithMainPocket')['controls']['bonusCollector']"
                        [controlName]="'businessUnitFrom'" [placeHolder]="'place holder de prueba'"
                        [editable]="currentVersion">
                      </business-autocomplete>

                  <!-- <div [formGroup]="settingsForm.get('salesWithMainPocket')['controls']['bonusCollector']" >
                      <mat-form-field >
                          <input matInput [readonly]="currentVersion" formControlName="businessUnitFrom"
                            placeholder="placeHolder">
                        </mat-form-field>

                  </div> -->

                  <!-- business pays the money -->





                  <!-- business receives the money -->
                  <mat-form-field class="center-text pr-12 pl-12" fxFlex="40" fxFlex.xs="100">
                    <input matInput [readonly]="!currentVersion" formControlName="businessUnitId" placeholder="{{'FORM.BUID_PLACEHOLDER' | translate}}">
                  </mat-form-field>

                </div>
              </div>
              <!-- BONUSCOLLECTOR -->


              <!-- SURPLUSCOLLECTOR -->
              <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                <span fxLayoutAlign="center center"> {{'SETTINGS.FARE_COLLECTOR_TITTLE' | translate}} </span>
                <button mat-icon-button (click)="viewDefinition('FARECOLLECTORS')">
                  <mat-icon>info</mat-icon>
                </button>
              </div>

              <div fxFlex="100">
                <div class="border" [formGroup]="settingsForm.get('salesWithMainPocket')['controls']['surplusCollector']" fxFlex="100"
                  fxLayout="row wrap">
                  <mat-form-field class="center-text pr-12 pl-12" fxFlex="40" fxFlex.xs="100">
                    <input matInput [readonly]="!currentVersion" formControlName="businessUnitFrom" placeholder="{{'FORM.BU_FROM' | translate}}">
                  </mat-form-field>
                  <mat-form-field class="center-text pr-12 pl-12" fxFlex="40" fxFlex.xs="100">
                    <input matInput [readonly]="!currentVersion" formControlName="businessUnitId" placeholder="{{'FORM.BUID_PLACEHOLDER' | translate}}">
                  </mat-form-field>
                </div>
              </div>
              <!-- SURPLUSCOLLECTOR -->












            <!-- Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }} -->



            <!-- THIRD PARTIES -->
            <!-- <mat-card class="marging-b-t-5" fxFlex="100" fxLayout="column">
              <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                <span fxLayoutAlign="center center"> {{'SETTINGS.PARTIES_TITTLE' | translate}} </span>
                <button mat-icon-button (click)="viewDefinition('THIRD_PARTIES')">
                  <mat-icon>info</mat-icon>
                </button>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="100">
                <div formArrayName="parties" *ngFor="let item of settingsForm.get('parties')['controls']; let i = index;"
                  fxLayout="column">
                  <div class="border" [formGroupName]="i" fxFlex="100" fxLayout="row wrap">
                    <mat-form-field class="center-text pr-12 pl-12" fxFlex="40" fxFlex.xs="100">
                      <input matInput [readonly]="!currentVersion" formControlName="businessUnitFrom" placeholder="{{'FORM.BU_FROM' | translate}}">
                    </mat-form-field>
                    <mat-form-field class="center-text pr-12 pl-12" fxFlex="40" fxFlex.xs="100">
                      <input matInput [readonly]="!currentVersion" formControlName="businessUnitId" placeholder="{{'FORM.BUID_PLACEHOLDER' | translate}}">
                    </mat-form-field>

                    <mat-form-field class="center-text pr-12 pl-12" fxFlex="15" fxFlex.xs="100">
                      <input type="number" [readonly]="!currentVersion" matInput formControlName="percentage" placeholder="{{'FORM.PERCENTAGE_BELONG' | translate}}">
                    </mat-form-field>
                    <button *ngIf="currentVersion" fxFlex="5" fxFlex.xs="100" mat-icon-button (click)="deleteControl( 'parties', i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>


                </div>
                <div *ngIf="settingsForm.errors && currentVersion">
                  <span style="color: red" *ngIf="settingsForm.errors['percentageExceeded']">
                    {{'ERRORS.PERCENTAGE_EXECEEDED_PARTIES' | translate}}
                  </span>
                  <span style="color: red" *ngIf="settingsForm.errors['percentageNotReached']">
                    {{'ERRORS.PERCENTAGE_NOT_EXECEEDED_PARTIES' | translate}}
                  </span>
                </div>
                <button style="margin-top: 10px" *ngIf="currentVersion" mat-mini-fab (click)="addActor('parties')">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-card> -->
            <!-- THIRD PARTIES -->

            <!-- BUSINESS UNIT WHERE SURPLUS WILL BE APPLIED  -->
            <!-- <mat-card class="marging-b-t-5" fxFlex="100" fxLayout="column">
              <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                <span fxLayoutAlign="center center"> {{'SETTINGS.SURPLUS_COLLECTOR_TITTLE' | translate}} </span>
                <button mat-icon-button aria-label="Button that shows a red tooltip" (click)="viewDefinition('LEFTOVER_COLLECTORS')">
                  <mat-icon>info</mat-icon>
                </button>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="100">
                <div *ngFor="let item of settingsForm.get('surplusCollectors')['controls']; let i = index;" fxFlex="100"
                  formArrayName="surplusCollectors">

                  <div class="border" [formGroupName]="i" fxLayoutAlign="space-between center" fxFlex="100" fxLayout="row wrap">
                    <div fxLayout="column" fxFlex="46" fxFlex.xs="100">
                      <mat-form-field class="center-text pr-12 pl-12">
                        <input matInput [readonly]="!currentVersion" formControlName="businessUnitFrom" placeholder="{{'FORM.BU_FROM' | translate}}">
                      </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="46" fxFlex.xs="100">
                      <mat-form-field class="center-text pr-12 pl-12">
                        <input matInput [readonly]="!currentVersion" formControlName="businessUnitId" placeholder="{{'FORM.BUID_PLACEHOLDER' | translate}}">
                      </mat-form-field>
                    </div>

                    <button *ngIf="currentVersion" fxFlex="5" fxFlex.xs="100" mat-icon-button (click)="deleteControl( 'surplusCollectors', i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <button *ngIf="settingsForm.get('surplusCollectors').value.length == 0 && currentVersion" mat-mini-fab (click)="addActor('surplusCollectors')">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-card> -->
            <!-- BUSINESS UNIT WHERE SURPLUS WILL BE APPLIED  -->
          </div>










        </mat-expansion-panel>
        <!-- CONFIGURATION FOR SALES MADE WITH MAIN POCKET -->

        <!-- CONFIGURATION FOR SALES MADE WITH BALANCE POCKET -->
        <mat-expansion-panel fxFlex="100" [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'SALES_WITH_BONUS' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            content here
          </div>

        </mat-expansion-panel>
        <!-- CONFIGURATION FOR SALES MADE WITH BALANCE POCKET -->

        <!-- CONFIGURATION FOR SALES MADE WITH CREDIT POCKET -->
        <mat-expansion-panel fxFlex="100" [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'SALES_WITH_CREDIT' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            content here
          </div>

        </mat-expansion-panel>
        <!-- CONFIGURATION FOR SALES MADE WITH CREDIT POCKET -->
      <!-- </mat-accordion> -->





      <!-- ACTION BUTTONS -->
      <div style="margin-top: 10px;" *ngIf="currentVersion" fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button color="primary" [disabled]="!settingsForm.valid" (click)="saveConfiguration()">SAVE</button>
        <button mat-raised-button color="primary" (click)="restoreSettings()">CANCEL</button>
      </div>
      <!-- ACTION BUTTONS -->

    </div>
    <!-- / WIDGET GROUP -->
  </div>
  <!-- / CONTENT -->

</div>
