<div [formGroup]="formGroup">

  <mat-form-field>
    <input matInput [readonly]="false" [formControlName]="controlName"
    placeholder="'desde adentro'" >
  </mat-form-field>
  <!-- [matAutocomplete]="auto" -->

  <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onSelectBusinessEvent($event.option.value)'>
    <mat-option *ngFor="let business of businessQueryFiltered$ | async"
      [value]="business">
      {{ business.generalInfo.name }} (ID: {{ business._id }})
    </mat-option>
  </mat-autocomplete> -->
</div>
