<div id="acss-actors-settings" class="page-layout simple fullwidth">

  <!-- CONTENT -->
  <div class="content p-24 w-100-p">

    <!-- WIDGET GROUP -->
    <div class="widget-group" fxLayout="row" fxFlex="100" fxLayoutWrap fxLayoutAlign="start start"
      *fuseIfOnDom [@animateStagger]="{value:'50'}">

      <span fxFlex="100" style="font-size: 16px" fxLayoutAlign="center center">{{'SETTINGS.TITLE' | translate }}</span>

    </div>
    <!-- / WIDGET GROUP -->
  </div>
  <!-- / CONTENT -->

</div>
